.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.gameContainer {
  display: grid;
  gap: 3px;
}

.containerSize6 {
  grid-template-columns: repeat(6, 100px);
}
.containerSize8 {
  grid-template-columns: repeat(8, 80px);
}
.containerSize10 {
  grid-template-columns: repeat(10, 60px);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
