.card {
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.cardSize6 {
  min-width: 100px;
  min-height: 100px;
}
.cardSize8 {
  min-width: 80px;
  min-height: 80px;
}
.cardSize10 {
  min-width: 60px;
  min-height: 60px;
}

.card:hover {
  transform: scale(1.05);
}

.open {
  background-color: var(--color-current);
  height: 100%;
}

.cardBack {
  background-color: var(--color-background-dark);
  height: 100%;
}

.cardFront {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-blue);
  color: white;
  font-size: 24px;
  height: 100%;
}
